.navbar-red{


  background-color: #DE1D22;
}
#colorbody{
font-family: 'Staatliches', cursive;
 color:#ededed;
}

.carousel-caption{
  background-color: black
}


.card-body{
  background-color: #DE1D22;
}
